//colors
$accent: #16a085;
$accent-light:#1abc9c;
$light-grey:#f5f6f7;
$c-text-bold:#373737;
$c-text-regular:#4b4b4b;
$white: #fff;
$theme-colors: ( 'primary': $accent, 'secondary': $accent-light) !default;
//fonts
@font-face {
    font-family: gotham-bold;
    src: url('../vendor/fonts/GothamRounded-Bold.otf')
}

@font-face {
    font-family: gotham-medium;
    src: url('../vendor/fonts/GothamRounded-Medium.otf')
}

$ff-gotham-medium: 'gotham-medium';
$ff-gotham-bold: 'gotham-bold';
$font-family-base: $ff-gotham-medium !default;
@import "vendor/bootstrap.scss";
//general
body {
    letter-spacing: 2px
}
h1, h2, h3, h4 {
    text-transform: uppercase;
    font-family: $ff-gotham-bold;
    letter-spacing: 4px
}
p{
    font-family: $ff-gotham-medium;
    letter-spacing: 2px
}
.btn {
    text-transform: uppercase;
}
// navbar
header {
    height: 100vh;
}
nav .container {
    position: relative; 
}

.navbar {
    margin: 0 100px;
    background: transparent;
    color: $white;
    position: absolute;
    z-index: 3;
    display: flex;
    left: 0;
    right: 0;
    justify-content: space-around;
    margin-top: 1.5rem;
    #logo {
        position: relative;
        cursor: pointer;
        transition: all ease .3s;
        &:hover{
            transform: rotate(5deg);
            opacity: 0.8;
        }       
    }
    div {
        height: 55px;
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        .link {
            color: $white;
            text-transform: uppercase;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                background: $white;
                height: 1px;
                bottom: 0;
                transform: scale(0, 1);
                transition: all ease .5s;
            }
            &:hover::before {
                transform: scale(1, 1);
            }
        }
    }
    
}

.jumbotron {
    height: calc(100vh + 50px);
    display: flex;
    text-align: center;
    align-items: center;
    color: $white;
}

.hero-bg {
    background: url('../images/hero-bg.png');
    transition: initial;
    text-align: center;
    align-items: center;
    background-position: center;
    position: relative;
    top: -50px;
    background-size: cover;
    opacity: 1;
}

// FALLING STAR
.clippy-wrap{
    position:absolute;
    width:100%;
    height:50%;
    overflow:hidden;
      top:0;
      z-index: 2;
      .star-container {
        height: 100%;
        margin: 200px;
        background-repeat: no-repeat;
        z-index: 10;
        overflow: hidden;
      position:absolute;
        margin-left:0%;
        .star {
            transform: rotate(45deg);
            margin-top: -200px;
            height: 1px;
            width: 200px;
            z-index: 11;
            background: -moz-linear-gradient(left, rgba(225, 214, 212, 0) 0%, rgba(225, 214, 212, 1) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(left, rgba(225, 214, 212, 0) 0%, rgba(225, 214, 212, 1) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, rgba(225, 214, 212, 0) 0%, rgba(225, 214, 212, 1) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
           
            opacity: 0;
            margin-left: -200px;
          }
      }
  }
  .animate {
    animation: fadeInOut 2s 1s 1;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      -webkit-box-shadow: 9px 2px 16px 0px rgba(252, 252, 252, 0.1);
      -moz-box-shadow: 9px 2px 16px 0px rgba(252, 252, 252, 0.1);
      box-shadow: 9px 2px 16px 0px rgba(252, 252, 252, 0.1);
    }
    80% {
      opacity: 0;
    }
    100% {
      margin-left: 75%;
      margin-top: 80%;
  
    }
  }

  //section photoapp

  #photoapp {
    background: #ddd;
    overflow: hidden;
  }
  #design {
    background: #fff;
    overflow: hidden;
  }
  #community {
    background: #ddd;
    overflow: hidden;
  }
  .inner-text-wrapper {
    padding:  115px 0 100px 0;
  
  }
  
  .inner-text-wrapper h3,
  .inner-text-wrapper p {
    margin-bottom: 50px;
  }
  .hand-wrapper {
    position: relative;
  }
  .hand-wrapper img {
    position: absolute;
    left: 0;
    bottom: -150px
  }
  .iphone-wrapper {
    position: relative;
  }
  .iphone-wrapper img {
    position: absolute;
    left: 0;
    bottom: -150px
  }
  /*//slider*/
  .slider-container {
    position: relative;
    height: 350px;
  }
  .slider-container .slider-wrapper {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
  }
  .slider-container .slider-wrapper .inner-wrapper {
    width: 500%;
    height: 100%;
    position: relative;
  }
  .slider-container .slider-wrapper .inner-wrapper .slide {
    width: calc(100% / 5);
    height: 100%;
    float: left;
  
    color: black;
  
  }
  .slider-container .slider-wrapper .slider-dots {
    position: absolute;
    bottom: -10px;
    left: 0;
    list-style-type: none;
  }
  .slider-container .slider-wrapper .slider-dots li {
    float: left;
  }
  .slider-container .slider-wrapper .slider-dots a {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #444;
    margin: 0 7px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .slider-container .slider-wrapper .slider-dots a.active {
    background: #444;
  }
  
  .button {
    width: 15px;
    height: 15px;
    border-top: 2px solid black;
    position: absolute;
    cursor: pointer;
    bottom: 10px;
  }
  
  .prev {
    border-left: 2px solid black;
    left: 10%;
  
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  
  .next {
    border-right: 2px solid black;
    left: 15%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  
  .gallery {
    width: 100%;
    height: 300px;
    display: flex; 
    justify-content: space-around;
    align-items: stretch;
  }
  .gallery img {
    max-width: 40%;
    object-fit: cover;
    height: 100%;
  }
  .owl-nav {
      font-size: 2rem;
      width: 3rem;
  }