#photoapp {
  background: #ddd;
  overflow: hidden;
}
#design {
  background: #fff;
  overflow: hidden;
}
#community {
  background: #ddd;
  overflow: hidden;
}
.inner-text-wrapper {
  padding:  115px 0 100px 0;

}

.inner-text-wrapper h3,
.inner-text-wrapper p {
  margin-bottom: 50px;
}
.hand-wrapper {
  position: relative;
}
.hand-wrapper img {
  position: absolute;
  left: 0;
  bottom: -150px
}
.iphone-wrapper {
  position: relative;
}
.iphone-wrapper img {
  position: absolute;
  left: 0;
  bottom: -150px
}
/*//slider*/
.slider-container {
  position: relative;
  height: 350px;
}
.slider-container .slider-wrapper {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.slider-container .slider-wrapper .inner-wrapper {
  width: 500%;
  height: 100%;
  position: relative;
}
.slider-container .slider-wrapper .inner-wrapper .slide {
  width: calc(100% / 5);
  height: 100%;
  float: left;

  color: black;

}
.slider-container .slider-wrapper .slider-dots {
  position: absolute;
  bottom: -10px;
  left: 0;
  list-style-type: none;
}
.slider-container .slider-wrapper .slider-dots li {
  float: left;
}
.slider-container .slider-wrapper .slider-dots a {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #444;
  margin: 0 7px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.slider-container .slider-wrapper .slider-dots a.active {
  background: #444;
}

.button {
  width: 15px;
  height: 15px;
  border-top: 2px solid black;
  position: absolute;
  cursor: pointer;
  bottom: 10px;
}

.prev {
  border-left: 2px solid black;
  left: 10%;

  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.next {
  border-right: 2px solid black;
  left: 15%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}





.gallery {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}
.gallery img {
  max-width: 40%;
  object-fit: cover;
  height: 100%;
}
